@font-face {
  font-family: "iconfont"; /* Project id 4690318 */
  src: url('iconfont.woff2?t=1728095565298') format('woff2'),
       url('iconfont.woff?t=1728095565298') format('woff'),
       url('iconfont.ttf?t=1728095565298') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinpin:before {
  content: "\e615";
}

.icon-lunbotu:before {
  content: "\e616";
}

.icon-remenshangpin:before {
  content: "\eaf1";
}

.icon-xinpin1:before {
  content: "\e603";
}

.icon-remenshangpin1:before {
  content: "\e606";
}

.icon-lunbotu1:before {
  content: "\e700";
}

.icon-yonghuguanli:before {
  content: "\e605";
}

.icon-shangpinguanli:before {
  content: "\e6b0";
}

.icon-guigeguanli:before {
  content: "\e600";
}

.icon-fenleiguanli:before {
  content: "\e657";
}

.icon-zonglan:before {
  content: "\e689";
}

.icon-dingdanguanli:before {
  content: "\e628";
}

.icon-shoucang:before {
  content: "\e65e";
}

.icon-yuanzi:before {
  content: "\e662";
}

.icon-find:before {
  content: "\e612";
}

.icon-shoucang1:before {
  content: "\e601";
}

.icon-gouwuche:before {
  content: "\e608";
}

.icon-yonghu:before {
  content: "\e633";
}

.icon-dingdan:before {
  content: "\e607";
}

.icon-xiugaimima:before {
  content: "\e621";
}

.icon-dizhi:before {
  content: "\e641";
}

.icon-phone:before {
  content: "\e63d";
}

.icon-nianling:before {
  content: "\e673";
}

.icon-youxiang:before {
  content: "\e60c";
}

.icon-shengritixing:before {
  content: "\e620";
}

.icon-shangcidenglushijian:before {
  content: "\e627";
}

.icon-xingbie:before {
  content: "\e624";
}

